---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
		padding: 0.5em 1em;
		border-radius: 8px;
		color: var(--black);
		transition: all 0.2s ease;
	}
	a:hover {
		background-color: rgba(var(--gray), 0.1);
		color: var(--black);
	}
	a.active {
		font-weight: bold;
		background-color: rgba(var(--accent), 0.1);
		color: var(--accent);
		text-decoration: none;
	}
</style>
