---
import { Icon } from 'astro-icon/components';

const { nodes } = Astro.props;
---

{
  nodes.map((item: any) => {
    if (item.type === 'file') {
      return (
        <li class="file">
          <a href={`/learning/${item.data.id}/`}>
            <span class="icon"><Icon name="lucide:file-text" /></span>
            <span class="title">{item.data.data.title}</span>
          </a>
        </li>
      );
    } else {
      return (
        <li class="directory">
          <details open>
            <summary>
              <span class="icon"><Icon name="lucide:folder" /></span>
              <span class="title">{item.name}</span>
            </summary>
            <ul>
              <Astro.self nodes={Object.values(item.children)} />
            </ul>
          </details>
        </li>
      );
    }
  })
}
